<div *ngIf="item">
  <img height="200px" [src]="'assets/IMG_2220.JPG'" alt="Bid Item Image" />
  <p>Base Price US${{item.baseAmount}}</p>

  <div>
    <label for="Name">You name</label>
    <input [(ngModel)]="name" id="Name" type="text" placeholder="Your name">
  </div>

  <div *ngIf="auctionMetaData">
    <p>Total live connections: {{auctionMetaData.totalConnections}}</p>
    <p>Total requested bids: {{auctionMetaData.totalBids}}</p>
  </div>

  <div *ngIf="acceptedBid && bid">
    <p>Your bid status: {{acceptedBid.connectionId === connectionId ? "Accepted" : "Passed"}}</p>
  </div>

  <div *ngIf="item">
    <p>Last Bid accepted by: {{item.acceptedName}} w/ ${{item.currentAmount}}</p>
  </div>

  <label for="Amount">Current Bid Price US${{item.currentAmount}} + </label>
  <input [(ngModel)]="extraBidAmount" id="Amount" type="number" placeholder="bid amount" [min]="100">
  <button (click)="bidNow()">Request Bid</button>
</div>
